html
{
    scroll-behavior: smooth;
}

body
{
    padding: 0px;
    margin: 0px;
}

.topnav 
{
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10; /* Make sure that the navbar is always in front */
}

.topnav a
{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a.active
{
    background-color: #C44444;
    color: white;
}

.topnav a:hover
{
    background-color: #D18371;
    color: black;
}

.home-background
{
    /* The image used */
    background-image: url("../img/background.webp");
  
    /* Set a specific height */
    height: 100vh; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.home-background-text
{
    font-size: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


.grid-wrapper {
    display: grid;
    width: 99.14vw;
    height: 100vh;

    grid-template-areas: 
        "he he he he he"
        "na na a3 a3 a3"
        "a2 a2 a3 a3 a3"
        "a2 a2 a3 a3 a3"
        "a2 a2 a3 a3 a3"
        "a2 a2 a3 a3 a3"
        "a2 a2 a3 a3 a3"
        "fo fo fo fo fo";

        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-gap: 2px;
}

.header
{
    padding-top: 15vh;
    grid-area: he;
    text-align: center;
    font-size: 20px;
}

.nav
{
    grid-area: na;
    background: salmon;
}

.article2 {
    grid-area: a2;
    background: lightseagreen;
}

.article3 {
    grid-area: a3;
    font-size: 15px;
    background: pink;
}


.footer {
    grid-area: fo;
    background: purple;
}

h5 {
    font-family: "sans-serif";
}