html
{
    scroll-behavior: smooth;
}

body
{
    padding: 0px;
    margin: 0px;
}

*
{
    font-size: 100%;
    font-family: Segoe UI;
    box-sizing: border-box;
}


.overlay-tint::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.overlay-tint * {
    z-index: 1;
}

.background
{
    position: relative;
}

img
{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.topnav 
{
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 10; /* Make sure that the navbar is always in front */
}

.topnav a
{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 23px;
}

.topnav a.active
{
    background-color: #C44444;
    color: white;
}

.topnav a:hover
{
    background-color: #D18371;
    color: black;
}

.home-background
{
    /* The image used */
    background-image: url("../img/background.webp");
  
    /* Set a specific height */
    height: 100%;
    width: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.about-us-background
{
    /* The image used */
    background-image: url("../img/cock_island_restaurant.jpg");
  
    /* Set a specific height */
    height: 100%;
    width: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.home-background-text
{
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}


.grid-wrapper
{
    display: grid;
    width: 100vw;
    max-width: 100%;

    grid-template-rows: 100vh 120vh 120vh 30vh;
}

.grid-wrapper-about
{
    display: grid;
    width: 100vw;
    max-width: 100%;

    grid-template-rows: 120vh 120vh 30vh;
}

.row-50
{
    display: grid;
    grid-template-columns: 50% 50%;
}

.preview-article
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview-article-container
{
    padding-left: 10%;
    padding-right: 10%;
}

.menu-preview-image
{
    width: 100%;
    height: 100%;
    display: flex;
}

.about-preview-image
{
    width: 100%;
    height: 100%;
    display: flex;
}

.preview-title
{
    font-size: 50px;
}

.preview-title:after
{
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.preview-title:after
{
    left: 0.5em;
    margin-right: -50%;
}

.menu-text
{
    overflow: hidden;
    text-align: center;
    font-size: 70px;
}

.menu-text:before,
.menu-text:after
{
    background-color: #000;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 40%;
}

.menu-text:before
{
    
    right: 0.5em;
    margin-left: -50%;
}

.menu-text:after
{
    left: 0.5em;
    margin-right: -50%;
}

.menu-title:before
{
    
    right: 0.5em;
    margin-left: -50%;
}


.button
{
    padding-top: 10vh;
    border:0.15em solid #000000;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.dish-description
{
    font-size: large;
    text-align: center;
}

.footer
{
    height: 30vh;
    background-color: #FFEFFF;
    display: grid;

    grid-template-areas: 
        "lo op co";

    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.logo
{
    grid-area: lo;

    
    padding-top: 10%;
    padding-left: 5%;
}

/* The logo is highly volatile. Will most likely break at other resolutions*/
.logo img
{
    width: 114%;
    height: 75.3%; /* I can't solve this */
}

.open-hours
{
    grid-area: op;
    display: flex;
    justify-content: center;
    padding-top: 10%;
    font-size: large;
}


.contact
{
    grid-area: co;
    display: flex;
    justify-content: center;
    padding-top: 10%;
    font-size: large;
}

/* Menu.html */

.menu-background
{
    /* The image used */
    background-image: url("../img/crab_rave.webp");
  
    /* Set a specific height */
    height: 100vh;
    width: 100vw;
    max-width: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.menu-background-text
{
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.menu-title
{
    overflow: hidden;
    text-align: center;
    font-size: 70px;
}

.menu-title:before,
.menu-title:after
{
    background-color: #000;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 40%;
}

.menu-title:before
{
    
    right: 0.5em;
    margin-left: -50%;
}

.menu-title:after
{
    left: 0.5em;
    margin-right: -50%;
}

.grid-wrapper-menu
{
    display: grid;

    grid-template-areas: 
        "a1 a2 a3"
        "a4 a5 a6"
        "a7 a8 a9";

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
    gap: 2%;
    padding: 2%;
}

.menu-image
{
    height: 35vh;
    width: 23vw;
    position: relative;
    overflow: hidden;
}

.center-item
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid-wrapper-menu .menu-image img
{
    border-radius: 6.9%;
}



.dish1
{
    grid-area: a1;
}

.dish2
{
    grid-area: a2;
}

.dish3
{
    grid-area: a3;
}

.dish4
{
    grid-area: a4;
}

.dish5
{
    grid-area: a5;
}

.dish6
{
    grid-area: a6;
}

.dish7
{
    grid-area: a7;
}

.dish8
{
    grid-area: a8;
}

.dish9
{
    grid-area: a9;
}